@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap');

:root {
    --cor0: #BB2020;
    --cor1: #06111C;
    --cor2: #BEC7C7;
    --cor3: #FFEB4D;
    --cor4: #121317;

    --fonte0: 'Cinzel', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

/* HEADER */

header {
    text-align: center;
    background-color: #FFEB4D;
}

header h1 {
    font: normal normal 4em 'Kaushan Script', cursive;
    text-align: center;

}

header p {
    font-family: var(--fonte0);
}

/* NAV */

nav  {
    background-color: var(--cor2);
    padding: 5px;
    align-items: center;
}

nav img {
    height: auto;
    width: 20px;
}

/*  MAIN */

                /* FEMININO */

div#feminino {
    background-color: var(--cor0);
    width: 800px;
    height: 800px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.425);
}

main img {
    display: block;
}

div#feminino h2 {
    width: 200px;
    text-align: center;
}

main h1 {
    font-family: var(--fonte0);
    text-align: center;
    text-decoration: overline underline;
}

main a {
    font-family: 'Cinzel', serif;
    text-decoration: none;
    color: var(--cor4);
}

main a:hover {
    text-decoration: underline;
    color: var(--cor2);
    transition: all 0.2s;

}

#produtos-f {
    columns: 2;

}

.btn {
    background-color: transparent;
    border: none;
}

#produtos-f .btn:hover {
    border-radius: 15px;
    transition: all 0.2s;
    transform: scale(1.1);
}

            /* MASCULINO */

